/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

html {
    overflow: auto;
}
html, body {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background: #F1F5F6;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.20);
    min-height: 100%;
}
a {
    transition: 0.3s;
}
a,
a:hover,
a:focus,
a:visited, 
a:link {
  text-decoration: none;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
    line-height: 0.9em;
}

h1 {
    font-size: 32px;
    font-size: 2em;
}
h2 {
    font-size: 27.8576px;
    font-size: 1.7411em;
}
h3 {
    font-size: 24.2515px;
    font-size: 1.5157em;
}
h4 {
    font-size: 21.1121px;
    font-size: 1.3195em;
}
h5 {
    font-size: 18.3792px;
    font-size: 1.1287em;
}
h6 {
    font-size: 16.3792px;
    font-size: 1em;
}
p {
    font-size: 16px;
    margin-bottom: 10px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1em;
	width: 100%;
}

a:visited {
	color: #800080;
}

a:hover,
a:active {
	outline: 0;
}

textarea {
	width: 100%;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.widget select {
	max-width: 100%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

#primary[tabindex="-1"]:focus {
	outline: 0;
}

.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.btn,
.btn:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}
/* Font size */
.fz-11 {
    font-size: 11px;
}
.fz-12 {
    font-size: 12px;
}
.fz-13 {
    font-size: 13px;
}
.fz-14 {
    font-size: 14px;
}
.fz-16 {
    font-size: 16px;
}
.fz-18 {
    font-size: 18px;
}
.fz-20 {
    font-size: 20px;
}
.fz-22 {
    font-size: 22px;
}
.fz-24 {
    font-size: 24px;
}
.fz-26 {
    font-size: 26px;
}
.fz-28 {
    font-size: 28px;
}
.fz-30 {
    font-size: 30px;
}
.fz-32 {
    font-size: 32px;
}
.fz-36 {
    font-size: 36px;
}
.fz-42 {
    font-size: 42px;
}
.fz-48 {
    font-size: 48px;
}
.fz-52 {
    font-size: 52px;
}
.fz-64 {
    font-size: 64px;
}

/* Line-height CSS */
.lh-11 {
    line-height: 11px;
}
.lh-16 {
    line-height: 16px;
}
.lh-18 {
    line-height: 18px;
}
.lh-20 {
    line-height: 20px;
}
.lh-21 {
    line-height: 21px;
}
.lh-22 {
    line-height: 22px;
}
.lh-24 {
    line-height: 24px;
}
.lh-26 {
    line-height: 26px;
}
.lh-28 {
    line-height: 28px;
}
.lh-29 {
    line-height: 29px;
}
.lh-32 {
    line-height: 32px;
}
.lh-33 {
    line-height: 33px;
}
.lh-36 {
    line-height: 36px;
}
.lh-42 {
    line-height: 42px;
}
.lh-40 {
    line-height: 40px;
}
.lh-48 {
    line-height: 48px;
}
.lh-58 {
    line-height: 58px;
}
.lh-60 {
    line-height: 60px;
}
.lh-72 {
    line-height: 72px;
}
/* Color */
.clr-blue {
    color: #3B4DF0;
}
.bg-blue {
    background: #3B4DF0;
}
.clr-green {
    color: #008A00;
}
.bg-green {
    background: #008A00;
}
.clr-white {
    color: #ffffff;
}
.clr-white-grey {
    color: #FBFBFB;
}
.bg-white {
    background: #ffffff;
}
.bg-white-grey {
    background: #FBFBFB;
}

.clr-grey {
    color: #98A2B3;
}
.bg-grey {
    background: #98A2B3;
}

.clr-black {
    color: #1D2939;
}
.bg-black {
    background: #1D2939;
}
.clr-black-light {
    color: #475467;
}
.bg-black-light {
    background: #475467;
}
.clr-black-dark {
    color: #000000;
}
.bg-black-dark {
    background: #000000;
}
.clr-red {
    color: #E4333E;
}
.bg-red {
    background: #E4333E;
}


/* Border radius */
.br-3 {
    border-radius: 3px;
}
.br-4 {
    border-radius: 4px;
}
.br-6 {
    border-radius: 6px;
}
.br-8 {
    border-radius: 8px;
}
.br-10 {
    border-radius: 10px;
}
.br-12 {
    border-radius: 12px;
}
.br-14 {
    border-radius: 14px;
}
.br-30 {
    border-radius: 30px;
}
.br-50 {
    border-radius: 50%;
}
.br-100 {
    border-radius: 100%;
}

/* Scrollbar CSS */
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #438A54 10.89%, #1F868D 91.99%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: linear-gradient(100deg, #438A54 10.89%, #1F868D 91.99%);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#00ccff,#d400d4);
} */

/* Positioning */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}
.cursor-pointer {
    cursor: pointer;
}

/* grid css */
.grid {
    display: grid;
}
.grid-1 {
    grid-template-columns: 1fr;
}
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid-1-2 {
    grid-template-columns: 1fr 2fr;
}
.grid-1-3 {
    grid-template-columns: 1fr 3fr;
}

.grid-1-3-1 {
    grid-template-columns: 1fr 3fr 1fr;
}
.grid-1-4 {
    grid-template-columns: 1fr 4fr;
}
.grid-1-5 {
    grid-template-columns: 1fr 5fr;
}
.grid-2-1 {
    grid-template-columns: 2fr 1fr;
}
.grid-2-2-1 {
    grid-template-columns: 2fr 2fr 1fr;
}
.grid-3-1 {
    grid-template-columns: 3fr 1fr;
}
.grid-3-4 {
    grid-template-columns: 3fr 4fr;
}
.grid-3-3-1 {
    grid-template-columns: 3fr 3fr 1fr;
}
.g-gap-5 {
    grid-gap: 5px;
}
.g-gap-8 {
    grid-gap: 8px;
}
.g-gap-10 {
    grid-gap: 10px;
}
.g-gap-15 {
    grid-gap: 15px;
}
.g-gap-20 {
    grid-gap: 20px;
}
.g-gap-25 {
    grid-gap: 25px;
}
.g-gap-30 {
    grid-gap: 30px;
}
.g-gap-32 {
    grid-gap: 32px;
}
.g-gap-35 {
    grid-gap: 35px;
}
.g-gap-40 {
    grid-gap: 40px;
}
.g-gap-50 {
    grid-gap: 50px;
}
.g-gap-60 {
    grid-gap: 60px;
}
.g-gap-80 {
    grid-gap: 80px;
}
.g-gap-100 {
    grid-gap: 100px;
}
.g-gap-120 {
    grid-gap: 120px;
}
.g-gap-150 {
    grid-gap: 150px;
}

/* Flex css */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.f-gap-5 {
    gap: 5px;
}
.f-gap-10 {
    gap: 10px;
}
.f-gap-10 {
    gap: 10px;
}
.f-gap-15 {
    gap: 15px;
}
.f-gap-20 {
    gap: 20px;
}
.f-gap-25 {
    gap: 25px;
}
.f-gap-30 {
    gap: 30px;
}
.f-gap-35 {
    gap: 35px;
}
.f-gap-40 {
    gap: 40px;
}
.f-gap-50 {
    gap: 50px;
}
.f-gap-80 {
    gap: 80px;
}
.f-gap-100 {
    gap: 100px;
}
.f-gap-120 {
    gap: 120px;
}
.f-gap-150 {
    gap: 150px;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}
.d-none {
    display: none;
}
/* Text transform */
.tt-upercase {
    text-transform: uppercase;
}
.tt-capitalize {
    text-transform: capitalize;
}
.tt-lowercase {
    text-transform: lowercase;
}
/* align css */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.g-justify-center {
    justify-items: center;
}
.g-justify-start {
    justify-items: start;
}
.g-justify-eng {
    justify-items: end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-start {
    align-items: start;
}

.overflow-hidden {
    overflow: hidden;
}
.overflow-x-hidden {
    overflow: hidden;
}
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container-85 {
    width: 85%;
}
.container-90 {
    width: 90%;
}
.container-95 {
    width: 95%;
}
.container-85, 
.container-90, 
.container-95 {
    margin: 0 auto;
    max-width: 100%;
}

.section-padding-80 {
    padding: 80px 0;
}

.section-padding-90 {
    padding: 80px 0;
}

.section-padding-100 {
    padding: 80px 0;
}

/* Header CSS */
.header-top {
    height: 44px;
    padding: 15px 0;
}
.hm-search-form select, .hm-search-form input {
    padding: 11px 24px;
    border: none;
}

.hm-search-form input[type="search"] {
    width: 80%;
}

.hm-search-form input[type="submit"] {
    right: 0;
    border-radius: 0 4px 4px 0;
    padding: 17px 35px;
}
.hm-search-form input[type="submit"]:hover {
    background: #1D2939;
}
.hm-search-form {
    border: 1.5px solid #D0D5DD;
    padding: 5px 0;
}
.hm-search-form select {
    border-right: 2px solid #D0D5DD;
}

.heart-count, .shuffle-count, .cart-count {
    width: 18px;
    height: 18px;
    text-align: center;
    right: -10px;
    top: -5px;
}
.header-middle {
    padding: 15px 0;
}

.cat-menus ul, .main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-navigation ul {
    display: flex;
    gap: 60px;
}

.main-navigation ul li {
    position: relative;
}

.main-navigation ul ul {
    position: absolute;
    left: 0;
    width: 250px;
    background: #F1F5F6;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    top: 33px;
    flex-direction: column;
    gap: 5px;
}

.main-navigation ul li:hover ul {
    opacity: 1;
}

.main-navigation ul li a {
    color: #1D2939;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    padding: 10px;
}

.main-navigation ul li.menu-item-has-children::before, .cat-menus ul li.menu-item-has-children::before {
    content: "\f107";
    position: absolute;
    right: -10px;
    font-family: 'FontAwesome';
    top: 3px;
}

.main-navigation ul li.current-menu-item a {
    color: #3B4DF0;
}

.cat-menus ul li a {
    color: #1D2939;
}

.cat-menus ul li ul {
    display: none;
}

.cat-menus ul li {
    position: relative;
}


.header-bottom {
    padding: 12px 0;
}

.cat-menus ul li.menu-item-has-children::before {
    right: 70px;
}
.main-navigation ul li li a {
    display: block;
    text-align: left;
    padding: 11px 10px 5px;
    border-top: 1px solid #d5d6d8;
}

.main-navigation ul li li {
    border-top: 1px solid #d5d6d8;
}



/* Footer CSS */
.newsletter-form .newsletter {
    padding: 18px 120px 15px 18px;
}

.newsletter-form .newsletter input[type="submit"] {
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    right: 3px;
    bottom: 3px;
}

.newsletter-form .newsletter input[type="submit"]:hover {
    background: #1D2939;
}

.newsletter-form .newsletter input[type="email"] {
    border: none;
    width: 92%;
}

.newsletter-left-content p {
    margin-bottom: 15px;
}

.newsletter-wrap {
    padding: 15px 0 20px;
}

.footer-top {
    padding: 70px 0 80px;
}

.widget-area-1 img {
    display: inline-block;
    margin-bottom: 14px;
}

.widget-title {
    margin-bottom: 20px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li {
    line-height: 2;
}

.widget ul li a {
    color: #1D2939;
}

.widget-area h3 {
    margin-bottom: 20px;
}

.footer-bottom {
    padding: 15px 0;
}

/* Product category box */
.single-product-cat-box {
    padding: 25px;
}

.cat-box-content {
    margin-top: 20px;
}

.cat-box-content i {
    height: 32px;
    width: 32px;
}

.single-product-cat-box:hover .cat-box-content i {
    background: #3B4DF0;
    color: #fff;
}


/* Product slider  */
.single-product-slide {
    padding: 25px;
}

.product-slide-content {
    margin-top: 20px;
}

.product-slide-content h4 {
    margin-bottom: 15px;
}

.product-price {
    margin: 15px 0;
}

.regular-price {
    text-decoration: line-through;
}

.category-star-rating .star-rating::before, .star-rating::before {
    color: #F7AB1B !important;
    opacity: 1 !important;
    font-size: 16px;
}

.category-star-rating .star-rating span::before, .star-rating span::before {
    display: none;
}

a.button.add_to_cart_button {
    padding: 10px 24px;
    margin-top: 20px;
}
a.button.add_to_cart_button:hover {
    background: #1D2939;
}

.product-stock {
    margin-top: 15px;
}
.featured-base {
    padding: 8px 15px;
}
.category-star-rating {
    margin-top: 10px;
}

.product-card-title a {
    color: #1D2939;
}

/* Slick css */

.slick-slide {
    margin-left:24px;
}
.slick-list {
    margin-left:-24px;
}
.slick-arrow {
    left: -20px;
    top: 50%;
    margin-top: -25px;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.slick-arrow:hover {
    background: blue;
    color: #fff;
}
.fa-angle-right.slick-arrow {
    left: auto;
    right: -20px;
}
.slick-dots button {
    display: none !important;
}
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.slick-dots li {
    height: 10px;
    width: 10px;
    background: #98A2B3;
    border-radius: 100%;
}
.slick-dots li.slick-active {
    background: #3B4DF0;
}

/* Blog CSS */
.single-post-grid img {
    width: 100%;
}

.post-grid-content {
    padding: 20px;
}

.post-grid-meta a h3 {
    margin: 10px;
    display: block;
}

.post-grid-content h3 {
    margin: 10px 0 20px;
}
.site-main article.sticky {
    padding: 15px;
    border: 1px solid #CEDBDE;
    background: #008ff808;
}
article .entry-content .page-links .post-page-numbers {
    border: 1px solid #CEDBDE;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #333333;
}

article .entry-content .page-links {
    margin-bottom: 0;
}
.blog-page-content article .entry-content .page-links {
    text-align: center;
    padding: 15px;
}

article .entry-content .page-links .post-page-numbers:hover {
    border-color: #3B4DF0;
    color: #3B4DF0;
}

article .entry-content .page-links .post-page-numbers.current {
    background: #3B4DF0;
    color: #fff;
}
.entry-meta a time {
    color: #465362;
}

.entry-meta a:hover time {
    color: #3B4DF0;
}

.entry-footer a {
    color: #475467;
}

.entry-footer a:hover {
    color: #3B4DF0;
}

.entry-footer, .entry-footer .cat-links {
    display: flex;
    gap: 10px;
}

.entry-footer {
    padding: 20px 0;
    clear: both;
}

.author-avatar a .avatar {
    border-radius: 8px;
    border: 1px solid #E1E1E1;
}

.author-box {
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    margin: 30px 0;
}
.author-posts {
    color: #3B4DF0 !important;
    display: inline-block;
    margin-top: 5px;
}

.author-content h5 {
    margin-bottom: 5px;
}
article .entry-content table {
    border: 1px solid #E5E8EC;
}

article .entry-content table tbody tr td {
    border-bottom: 1px solid #E5E8EC;
    border-right: 1px solid #E5E8EC;
    text-align: center;
    padding: 5px;
}

article .entry-content table tbody tr:last-child td {
    border-bottom: none;
}

article .entry-content table tbody tr td:last-child {
    border-right: none;
}
blockquote {
    position: relative;
}

blockquote::before {
    position: absolute;
    content: '“';
    left: -20px;
    font-size: 50px;
    top: 10px;
    color: #E1E1E1;
}

blockquote::after {
    position: absolute;
    content: '”';
    right: -20px;
    bottom: -10px;
    color: #E1E1E1;
    font-size: 50px;
}

blockquote {
    display: inline-block;
}



/* Shop page */
/* .wishlist.absolute i {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: red;
    color: #525A6A;
    line-height: 40px;
    cursor: pointer;
} */

.wishlist.absolute {
    top: 10px;
    z-index: 9;
}

.quickview.absolute {
    top: 50px;
    z-index: 9;
}

.compare.absolute {
    top: 90px;
    z-index: 9;
}
.product-wrap-top {
    padding: 20px 25px;
    margin-bottom: 20px;
}
.woocommerce-ordering .orderby {
    height: 40px;
    padding: 0px 13.65px 0px 15px;
}

.woocommerce-pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.woocommerce-pagination ul li span.current, .woocommerce-pagination ul li a {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D0D0D0;
    flex-shrink: 0;
    border-radius: 3px;
}

.woocommerce-pagination ul li span.current, .woocommerce-pagination ul li a:hover {
    background: #3B4DF0;
    color: #fff;
    border-color: #3B4DF0;
}


/* Single product page  */
.kalni-woo-single-grid .woocommerce-product-gallery {
    display: grid;
    grid-template-columns: 75px auto;
    overflow: hidden;
    max-height: 510px;
    min-height: 100%;
}

.kalni-woo-single-grid .woocommerce-product-gallery .flex-viewport {
    order: 2;
    width: 100%;
    max-height: 510px;
    min-height: 100%;
}

.kalni-woo-single-grid .woocommerce-product-gallery .flex-control-nav {
    order: 1;
    display: grid;
    height: 100%;
    overflow: hidden;
    gap: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.kalni-woo-single-grid .woocommerce-product-gallery .flex-control-nav::-webkit-scrollbar {
    width: 5px;
}

.kalni-woo-single-grid .woocommerce-product-gallery .flex-control-nav li {
    width: 100% !important;
}

.single-product h1.product_title {
    margin-bottom: 20px;
}

.woocommerce-product-rating-wrap {
    padding-bottom: 30px;
}

.woocommerce-product-rating {
    border-bottom: 2px solid grey;
}

.woocommerce-tabs ul.tabs li.active a {
    color: #3B4DF0;
    border-bottom: 2px solid #3B4DF0;
}

.kalni-woo-single-grid, .woocommerce-tabs.wc-tabs-wrapper {
    padding: 30px;
    margin-top: 30px;
}

.related.products h2 {
    margin: 30px 0;
    padding: 15px 30px;
}
.related-products .products {
    grid-template-columns: repeat(4, 1fr);
}
p.price {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 12px;
    margin: 20px 0 30px;
}

p.price ins {
    order: 1 !important;
    color: #3B4DF0;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

p.price del {
    order: 2;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.woocommerce-product-details__short-description ul {
    padding-left: 15px;
}

.woocommerce-product-details__short-description ul li {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}

.product .stock {
    margin: 26px 0;
}

.quantity button, .quantity input {
    padding: 12px 20px 12px 20px;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    font-size: 20px;
    cursor: pointer;
}

.quantity {
    border: 1px solid #ccc;
    margin-right: 15px;
}

.quantity input {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 16px;
    padding: 14px 0px;
    text-align: center;
    width: 68px;
}

.quantity button.plus {
    margin-left: -15px !important;
}
.single_add_to_cart_button.button {
    border: 1px solid #3B4DF0;
    padding: 5px 51.619px 5px 52.381px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background: #000 !important;
    color: #fff;
}

.cart a.button {
    margin-top: 0 !important;
    display: inline-flex;
    padding: 4.5px 61.119px 4.5px 62.881px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.product_meta {
    margin-top: 20px;
}

.product_meta span > span, .product_meta span > a {
    font-weight: 400 !important;
    color: #000;
}

.wc-tab h2 {
    font-size: 16px;
    line-height: 24px;
}

.wc-tab table {
    width: 100%;
    text-align: left;
    border-radius: 3px;
    border: 1px solid #E1E1E1;
    background: #F1F5F6;
}

.wc-tab table tr {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.wc-tab table tr:nth-child(2), .wc-tab table tr:nth-child(4), .wc-tab table tr:nth-child(6), .wc-tab table tr:nth-child(8), .wc-tab table tr:nth-child(10), .wc-tab table tr:nth-child(12), .wc-tab table tr:nth-child(14), .wc-tab table tr:nth-child(16), .wc-tab table tr:nth-child(18), .wc-tab table tr:nth-child(20), .wc-tab table tr:nth-child(22) {
    background: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.commentlist li {
    list-style: none;
    margin-bottom: 30px;
}

.commentlist li .comment_container {
    display: flex;
    gap: 30px;
    width: 100%;
}

.commentlist li .comment_container .avatar {
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    width: 74px;
    height: 73px;
    object-fit: cover;
}

.comment-text {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    background: #F1F5F6;
    padding: 30px;
    position: relative;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 20px;
}

.comment-text::before {
    position: absolute;
    left: -25px;
    top: 15px;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #F1F5F6;
    border-bottom: 20px solid transparent;
}

.comment-text .star-rating {
    order: 2;
}

.comment-text .meta {
    flex-grow: 1;
    font-size: 14px;
    color: #000;
}

.comment-text .description {
    order: 3;
    width: 100%;
    font-size: 14px;
    color: #000;
}

.comment-text .meta .woocommerce-review__author {font-weight: 600;}

.comment-respond .comment-reply-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
}


/* Blog page */
.blog-post-content .entry-header {
    display: grid;
    gap: 8px;
    margin: 18px 0 20px;
}

.blog-post-content .entry-header .entry-meta {
    order: 1;
}

.blog-post-content .entry-header .entry-title {
    order: 2;
}

.site-main article {
    background: #fff;
}

.blog-page-content article {
    border-radius: 12px;
    padding-bottom: 20px;
}

.blog-page-content article .post-thumbnail img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.blog-post-content .entry-header .entry-title a:hover, 
.author.vcard a:hover,
.posted-on a:hover,
.blog-post-content .readmore-wrap a:hover {
    color: #3B4DF0;
}

.pg-pagination li a {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 1px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #D0D0D0;
    color: #333;
}

.pg-pagination li.active a, .pg-pagination li:hover a {
    border: 1px solid #3B4DF0;
    color: #fff;
    background: #3B4DF0;
}
.blog-post-content {
    margin-bottom: 80px;
}

/* Single blog */
.blog-single-content {
    padding: 30px;
}

.blog-single-content .post-thumbnail img {
    /* width: 100%;
    max-height: 489px;
    object-fit: cover;
    object-position: center top; */
    border-radius: 6px;
}
.blog-single-content .entry-header {
    margin: 30px 0;
}

.blog-single-content .entry-header .entry-meta {
    text-align: left;
    margin-top: 16px;
}

/* Recent post CSS */
.post-grid-content h3, .recent-post-grid-content h4, .blog-post-content .entry-header .entry-title, .product-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post-grid-content h3:hover, .recent-post-grid-content h4:hover, .post-grid-content a:hover, .recent-post-grid-content a:hover {
    color: #3B4DF0;
}
.author-name, .author a {
    color: #000;
}

.author-name {
    color: #000 !important;
}

.single-recent-post-grid img {
    border-radius: 6px;
    width: 53px;
    height: 53px;
    object-fit: cover;
}
.single-recent-post-grid {
    border-bottom: 1px solid #CEDBDE;
    padding-bottom: 30px;
}

.single-recent-post-grid:last-child {
    padding-bottom: 0;
    border-bottom: none;
}



/* Blog widget CSS */
#secondary.widget-area ul li > ul {
    margin-left: 15px;
}

#secondary.widget-area {
    padding: 20px;
}

#secondary.widget-area ul li > a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #475467;
}

#secondary.widget-area .widget {
    margin-bottom: 30px;
}

#secondary.widget-area .widget:last-child {
    margin-bottom: 0;
}

#secondary.widget-area select {
    width: 100%;
    height: 50px;
    padding: 3px 0;
}

#secondary.widget-area table caption {
    background: #3B4DF0;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

#secondary.widget-area table thead {
    background: #F1F5F6;
}

#secondary.widget-area table thead tr th {
    border-bottom: none;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: 1px solid #3B4DF0;
}

#secondary.widget-area table tbody tr td {
    border-right: 1px solid #3B4DF0;
    border-top: 1px solid #3B4DF0;
    padding: 5px;
    text-align: center;
    color: #1D2939;
}

#secondary.widget-area table tbody tr td a, td#today {
    color: #3B4DF0 !important;
    font-weight: 700;
}
#secondary.widget-area a:hover {
    color: #3B4DF0 !important;
}

#secondary.widget-area table {
    border: 1px solid #3B4DF0;
    border-radius: 0 0 3px 3px;
}

#secondary.widget-area table thead tr th:last-child,
#secondary.widget-area table tbody tr td:last-child {
    border-right: none;
}

#secondary.widget-area nav.wp-calendar-nav {
    background: #3B4DF0;
    border-radius: 3px;
}

#secondary.widget-area nav.wp-calendar-nav a {
    color: #fff !important;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    display: inline-block;
}

#secondary.widget-area nav.wp-calendar-nav:hover {
    background: #1D2939;
}

.recentcomments, .recentcomments .url {
    font-size: 12px;
}

#secondary.widget-area .widget_rss .rss-date, 
#secondary.widget-area .widget_rss li cite {
    font-size: 85%;
    display: block;
}

#secondary.widget-area .widget_rss .rsswidget {
    font-weight: 700;
}

#secondary.widget-area .widget_rss li {
    margin-bottom: 15px;
}

.search-form .search-field {
    display: flex;
    padding: 11px 24px;
    align-items: center;
    border-radius: 4px;
    border: 1.5px solid #E5E8EC;
}

.search-form .search-submit {
    display: flex;
    width: 76px;
    padding: 11px 27.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
    background: #3B4DF0;
    color: #fff;
    border: 1.5px solid #3B4DF0;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form .search-submit:hover {
    background: #000;
}

#secondary.widget-area .widget .textwidget p {
    margin-bottom: 15px;
}

#secondary.widget-area .widget .textwidget p strong {
    display: block;
}

#secondary.widget-area .widget .tagcloud a.tag-cloud-link {
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    display: inline-flex;
    padding: 0.5px 7.69px 1.5px 9px;
    justify-content: center;
    align-items: center;
    color: #475467;
    font-size: 14px !important;
    line-height: 30px;
    text-transform: capitalize;
    margin: 3px 0;
}

#secondary.widget-area .widget .tagcloud a.tag-cloud-link:hover {
    background: #000;
    color: #fff !important;
}
#secondary.widget-area .widget_rss .rsswidget.rss-widget-title {
    color: #000;
}




@media (max-width: 1024px) {
    .blog-post-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .kalni-post-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .kalni-post-grid {
        grid-template-columns: 1fr;
    }
}


